html {
    font-size: $body-font-size;
    height:100%;
}
body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
    height:100%;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.header{
    width:100%;
    background-color:#262426;
}

.header .navbar {
    height:100%;
}

.site-description {
    padding-top: 10px;
    color:white;
}

.title {
    padding: 30px;
    padding-left: 10%;
}

.title-text {
    font-size: 3rem;
    color: white;
}

.menu-bar {
}

.menu {
    height:100%;
    margin-left: 10%;
    margin-right: 10%;
    background-color:#020202;

    list-style-type: none;
    overflow: hidden;
    border: 0.5px solid #787F88;
}

.menu-item {
    color: white;
    float: left;
    border-left: 0.1px solid #5E5C5E;
}

.menu li:last-child{
    border-right: 0.5px solid #5E5C5E;
}

.menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

.menu-item.active {
    background-color: #9AC34C;
}

.menu-item a:hover {
    opacity: 0.8px
}


.wrapper {
    padding:10%;
    width: 100%;
    padding-top: 5%;
}

.wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.main {
    float:left;
    width: 60%;
    margin-right: 5px;
}

.sidebar {
}

.footer {
    bottom: 0px;
    padding: 5px;
    padding-left: 10%;
    width: 100%;
    background-color:#262426;
    color: white;
    position: absolute;
    bottom: 0;
}
.article {
    padding: 2rem;
}
.sub-title{
    font-size: 2.5rem;
}

.form{
    text-align: center;
    margin: 3em auto;
    margin-top:10%;
    max-width: 370px;
    padding: 40px;
    border: 1px solid #67c5ff;
    color: #67c5ff;

    .form-title{
        margin-bottom: 15% ;
        font-size:3rem;
        letter-spacing: 0.3rem;
    }

    .form-group{
        margin-bottom: 10% ;
        width: 100%;
    }

    .rememberme{
        letter-spacing: 0.1rem;
        color: #AFA98D;
    }

    .sub-link a{
        color: #AFA98D;
        letter-spacing: 0.1rem;
    }

    input[type=checkbox] {
        display: none;
    }
    .checkbox {
        color:#AFA98D;
        -webkit-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
        position: relative;
        display: inline-block;
        padding: 0 0 0 42px;
        vertical-align: middle;
        cursor: pointer;
    }
    .checkbox:hover:after {
        border-color: #AFA98D;
    }
    .checkbox:after {
        -webkit-transition: border-color 0.2s linear;
        transition: border-color 0.2s linear;
        position: absolute;
        top: 50%;
        left: 15px;
        display: block;
        margin-top: -10px;
        width: 2rem;
        height: 2rem;
        border: 2px solid #ccc;
        content: '';
    }
    .checkbox:before {
        -webkit-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        position: absolute;
        top: 50%;
        left: 21px;
        display: block;
        margin-top: -7px;
        width: 0.7rem;
        height: 1rem;
        border-right: 3px solid #AFA98D;
        border-bottom: 3px solid #AFA98D;
        content: '';
        opacity: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    input[type=checkbox]:checked + .checkbox:before {
        opacity: 1;
    }

    input {
        color: #AFA98D;
        letter-spacing: 0.1rem;
        font-size: 2rem;
        padding:1rem;
        border: 0px solid transparent;
        border-bottom: 1px solid #AFA98D;
        width: 100%;
    }
    input::-webkit-input-placeholder {
        font-size: 1rem;
        color: #AFA98D;
        letter-spacing: 0.2rem;
    }

    input:focus {
        outline: 0;
    }

    button{
        letter-spacing: 0.3rem;
        width: 100%;
    }
}


.btn-square {
    display: inline-block;
    padding: 1em 5em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    background-color: transparent;

}.btn-square:hover {
    background: #67c5ff;
    color: white;
}




.table{
    margin-top: 3rem;
    text-align: right;
    border: 1px solid lightgray;
}

.table th{
    padding:15px;
    font-size: 1.5rem;
    border: 1px solid lightgray;
}

.table td{
    padding:5px;
    font-size: 1.0rem;
    border: 1px solid lightgray;
}

.table .td-label{
    margin-bottom: 10px;
    text-align: left;
}
.table .td-value{
    text-align: right;
    font-size: 1.5rem;
}

.minus {
    color:blue;
    font-style: bold;
}

.plus {
    color:red;
    font-style: bold;
}

.coming-soon{

}

.help-block{
    color: #5E5C5E;
}


.no-list-style{
    list-style: none;
}

.list li{
    margin-bottom:1rem;
}
